<div class='adminCont'>
    <a href='/admin/dashboard' class='adText noDec'>Admin Dashboard</a>
    <div class='adLinkCont'>
        <a href='/admin/dashboard' class="noDec adLink">Home</a>
        <a href='/admin/addlist' class="noDec adLink">Add Inventory</a>
        <a href='/admin/logout' class="noDec adLink">Logout</a>
    </div>
</div>
<div class='cFlex botMar'>
    <form class="dFlex" action='/admin/dashsearch' method="POST">
        <input type='text' id='title' name='title' class='searchBar' placeholder="Search..">
        <input type='text' id='whid' name='whid' class='searchBar leftM' placeholder="Warehouse ID...">
        <button class="searchBut quickPad" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div class="logCont">
        <form action='/admin/dashsearch' method="POST">
            <button class="searchBut" type="submit" class="Submit Top">Newest</button>
        </form>        
        <form action='/admin/low' method="POST">
            <button class="searchBut" type="submit">Price: Low to high</button>
        </form>
        <form action='/admin/high' method="POST">
            <button class="searchBut" type="submit">Price: High to low</button>
        </form>
        <form action='/admin/oldest' method="POST">
            <button class="searchBut" type="submit">Oldest</button>
        </form>
    </div>
</div>
<% include ./partials/messages %>
<div class='listCont'>
    <% listings.forEach(function(listing) { %>
        <div class='aListing'>
            <div class='listImgCont'>
                <div class='listMar'>
                    <a href='/admin/inventory/<%= listing._id %>' class='noDec'>
                        <% if (listing.photos.length > 0) { %>
                            <img id='big' src='../<%= listing.photos[0].path %>'>
                        <% }; %>                    
                    </a>
                </div>
            </div>
            <div class='priDate'>
                <div class='price'>$<%= listing.price %></div>
                <div class='date'><%= listing.date.toDateString(); %></div>
            </div>
            <div class='title'>
                <a href='/admin/inventory/<%= listing._id %>' class='noDec titleText'><%= listing.title %></a>
            </div>
            <% if (curUser == true) { %>
                <div class="botRight">
                    <form action='/admin/delete/<%= listing._id %>' method="POST">
                        <button class='deletePost' type="submit">Delete</button>
                    </form>  
                </div>
            <% } %>    
        </div>
    <% }); %>
</div>
