<% let counter = 0; %>
<div class='adminCont'>
    <a href='/admin/dashboard' class='adText noDec'>Admin Dashboard</a>
    <div class='adLinkCont'>
        <a href='/admin/dashboard' class="noDec adLink">Home</a>
        <a href='/admin/addlist' class="noDec adLink">Add Inventory</a>
        <a href='/admin/logout' class="noDec adLink">Logout</a>
    </div>
</div>
<div class='dFlex topEdit'>
    <form action='/admin/delete/<%= listing._id %>' method='POST'>
        <button type='submit' class="subBut">Delete Listing</button>
    </form>
    <form action='/admin/edit/<%= listing._id %>' method='GET'>
        <button type='submit' class="subBut">Edit Listing / Add Photos</button>
    </form>
</div>
<% include ./partials/messages %>
<div class='contentCont'>
    <div class='imgColumn'>
        <div class='newCont borLeft'>
            <% if (listing.photos.length > 0) { %>
                <img id='big' class="bigPhoto" src='../<%= listing.photos[0].path %>'>
            <% }; %>
        </div>
        <div class="smallCont">
            <% listing.photos.forEach(function(photo) { %>
                <div class="smallMar">
                    <button class='newDec' onclick="bigDisplay('<%= counter %>')">
                        <img id='<%= counter %>' class='smallPhoto' src='../<%= photo.path %>'>
                    </button>        
                </div>    
                <% counter++; %>
            <% }); %>
        </div>
    </div>
    <div class="imgColumn borRight">
        <div class='titleDate'>
            <div class='listTitle'><%= listing.title %></div>
            <div class='dateWH'>
                <div class='listDate'><%= listing.date.toDateString(); %></div>
                <div class='listDate'>Warehouse ID #<%= listing.whid %></div>        
            </div>
        </div>
        <div class='listPrice'>$<%= listing.price %></div>
        <div class='listDesc'><%= listing.desc %></div>
    </div>
</div>
