<div class='margins'>
    <div class='imgDiv'>
        <img class='frontImg' src="/public/camarillo.jpg">
    </div>
    <div class='welCont'>
        <div class='welText'>
            <div class='welHeader'>Welcome to Bulldog Liquidators of Camarillo</div>
            <div class='welBody'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. An potest, inquit ille, quicquam esse suavius quam nihil dolere? Ergo in utroque exercebantur, eaque disciplina effecit tantam illorum utroque in genere dicendi copiam.</div>
        </div>
    </div>
    <div class="ourProd"><a class="noDec ourProd" href='./listings'>Store Inventory</a></div>
    <div class='listCont'>
        <% listings.forEach(function(listing) { %>
            <div class='aListing'>
                <div class='listImgCont'>
                    <div class='listMar'>
                        <a href='/listings/<%= listing._id %>' class='noDec'>
                            <img class='listImg' src='<%= listing.photos[0].path %>'>
                        </a>
                    </div>
                </div>
                <div class='priDate'>
                    <div class='price'>$<%= listing.price %></div>
                    <div class='date'><%= listing.date.toDateString(); %></div>
                </div>
                <div class='title'>
                    <a href='/listings/<%= listing._id %>' class='noDec titleText'><%= listing.title %></a>
                </div>
            </div>
        <% }); %>
    </div>
    <div>
        <a href='/listings' class='noDec fRight'>View all inventory...</a>
    </div>        
</div>
