<form action='/search' method="POST">
    <input type='text' id="title" name='title' placeholder="Search..">
    <button type="submit" class="Submit Top">Search</button>
</form>

<form action='/low' method="POST">
    <button type="submit">Price: Low to high</button>
</form>

<form action='/high' method="POST">
    <button type="submit">Price: Hight to low</button>
</form>


<form action='/search' method="POST">
    <button type="submit" class="Submit Top">Newest</button>
</form>

<% listings.forEach(function(listing) { %>
    <a href='/listings/<%= listing._id %>'>
        <p class="lead mb-3">Title, <%= listing.title %></p>
    </a>
    <p class="lead mb-3">desc, <%= listing.desc %></p>
    <p class="lead mb-3">warehouse id, <%= listing.whid %></p>
    <p class="lead mb-3">price, <%= listing.price %></p>
    <p class="lead mb-3">date, <%= listing.date.toDateString(); %></p>
    <% if (listing.photos.length > 0) { %>
        <img class='test' src='<%= listing.photos[0].path %>'>
    <% }; %>
<% }); %>