<div class="logCont">
    <div class='headText'>Inventory</div>
</div>
<div class='cFlex botMar'>
    <form action='/search' method="POST">
        <input type='text' id='title' name='title' class='searchBar' placeholder="Search..">
        <button class="searchBut quickPad" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <div class="logCont">
        <form action='/search' method="POST">
            <button class="searchBut" type="submit" class="Submit Top">Newest</button>
        </form>        
        <form action='/low' method="POST">
            <button class="searchBut" type="submit">Price: Low to high</button>
        </form>
        <form action='/high' method="POST">
            <button class="searchBut" type="submit">Price: High to low</button>
        </form>
        <form action='/oldest' method="POST">
            <button class="searchBut" type="submit">Oldest</button>
        </form>
    </div>
</div>
<div class='listCont'>
    <% listings.forEach(function(listing) { %>
        <div class='aListing'>
            <div class='listImgCont'>
                <div class='listMar'>
                    <a href='/listings/<%= listing._id %>' class='noDec'>
                        <img class='listImg' src='<%= listing.photos[0].path %>'>
                    </a>
                </div>
            </div>
            <div class='priDate'>
                <div class='price'>$<%= listing.price %></div>
                <div class='date'><%= listing.date.toDateString(); %></div>
            </div>
            <div class='title'>
                <a href='/listings/<%= listing._id %>' class='noDec titleText'><%= listing.title %></a>
            </div>
        </div>
    <% }); %>
</div>
