<h1 class="mt-4">Dashboard</h1>
<a href="/admin/logout" class="btn btn-secondary">Logout</a>

<a href="/admin/addlist" class="btn btn-secondary">Add Listing</a>

<form action='/admin/dashsearch' method="POST">
    <input type='text' id="title" name='title' placeholder="Search...">
    <input type='text' id='whid' name='whid' placeholder="By warehouse ID..">
    <button type="submit" class="Submit Top">Post</button>
</form>

<form action='/admin/low' method="POST">
    <button type="submit">Price: Low to high</button>
</form>

<form action='/admin/high' method="POST">
    <button type="submit">Price: Hight to low</button>
</form>

<form action='/admin/dashsearch' method="POST">
    <button type="submit" class="Submit Top">Newest</button>
</form>



<% listings.forEach(function(listing) { %>
    <a href='/admin/inventory/<%= listing._id %>'>
        <p class="lead mb-3">Title, <%= listing.title %></p>
    </a>
    <p class="lead mb-3">desc, <%= listing.desc %></p>
    <p class="lead mb-3">warehouse id, <%= listing.whid %></p>
    <p class="lead mb-3">price, <%= listing.price %></p>
    <p class="lead mb-3">date, <%= listing.date.toDateString(); %></p>
    <% if (listing.photos.length > 0) { %>
        <img class='test' src='<%= listing.photos[0].path %>'>
    <% }; %>
<% }); %>
