<% let counter = 0; %>
<div class='contentCont'>
    <div class='imgColumn'>
        <div class='newCont borLeft'>
            <% if (listing.photos.length > 0) { %>
                <img id='big' class="bigPhoto" src='../<%= listing.photos[0].path %>'>
            <% }; %>
        </div>
        <div class="smallCont">
            <% listing.photos.forEach(function(photo) { %>
                <div class="smallMar">
                    <button class='newDec' onclick="bigDisplay('<%= counter %>')">
                        <img id='<%= counter %>' class='smallPhoto' src='../<%= photo.path %>'>
                    </button>        
                </div>    
                <% counter++; %>
            <% }); %>
        </div>
    </div>
    <div class="imgColumn borRight">
        <div class='titleDate'>
            <div class='listTitle'><%= listing.title %></div>
            <div class='dateWH'>
                <div class='listTitle'><%= listing.date.toDateString(); %></div>
                <div class='listTitle'><%= listing.whid %></div>        
            </div>
        </div>
        <div class='listPrice'><%= listing.price %></div>
        <div class='listDesc'><%= listing.desc %></div>
    </div>
</div>
