<% let counter = 0; %>
<a href="/listings" class="btn btn-secondary btn-block">All Products</a>

<a href='/listings/<%= listing._id %>'>
    <p class="lead mb-3">Title, <%= listing.title %></p>
</a>
<p class="lead mb-3">desc, <%= listing.desc %></p>
<p class="lead mb-3">warehouse id, <%= listing.whid %></p>
<p class="lead mb-3">price, <%= listing.price %></p>
<p class="lead mb-3">date, <%= listing.date %></p>
<% listing.photos.forEach(function(photo) { %>
    <a href='#' class='noDec' onclick="bigDisplay('<%= counter %>')">
        <img id='<%= counter %>' class='test' src='../<%= photo.path %>'>
    </a>
    <% counter++; %>
<% }); %>
<br>
<% if (listing.photos.length > 0) { %>
    <img id='big' src='../<%= listing.photos[0].path %>'>
<% }; %>